<!doctype html>
<head>
    <title>
        Kurama App Upload
    </title>
</head>
<body>
<h1>Upload the App Here</h1>
<h3>Make sure the app is in .tar.gz compression format</h3>
<form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<div></div>
<br>
<button type="button"> <a style="text-decoration:none" href="/kcreatepipeline">Create Pipeline</a> </button>
<br>
<button type="button"> <a style="text-decoration:none" href="/kstartpipeline">Start Pipeline</a> </button>
</body>